@font-face {
    font-family: EstedadThin; 
    src: url('../fonts/Estedad/Estedad-Thin.ttf');
}

@font-face {
    font-family: EstedadLight; 
    src: url('../fonts/Estedad/Estedad-Light.ttf');  
}

@font-face {
    font-family: EstedadMedium; 
    src: url('../fonts/Estedad/Estedad-Medium.ttf'); 
}

@font-face {
    font-family: EstedadBold; 
    src: url('../fonts/Estedad/Estedad-Bold.ttf');
}

@font-face {
    font-family: EstedadBlack; 
    src: url('../fonts/Estedad/Estedad-Black.ttf');
}