@font-face{
    font-family: Sahel;
    src: local('Sahel'), url('../fonts/Sahel/Sahel.ttf');
    font-weight: normal; 
}

@font-face{
    font-family: Sahel;
    src:  url('../fonts/Sahel/Sahel-VF.ttf');
    font-weight: 600; 
}

@font-face{
    font-family: Sahel;
    src: local('Sahel Bold'), url('../fonts/fonts/Sahel/Sahel-Bold.ttf'); 
    font-weight: bold; 
}

@font-face{
    font-family: Sahel;
    src: local('Sahel Black'), url('../fonts/Sahel/Sahel-Black.ttf'); 
    font-weight: 900; 
}