@font-face{
    font-family: 'Vazir Code';
    src: local('Vazir Code'), url('../fonts/Vazir-Code.ttf'); 
    font-weight: normal; 
}

@font-face{
    font-family: 'Vazir Code';
    src: url('../fonts/Vazir-Code-Extra-Height.ttf'); 
}

@font-face{
    font-family: 'Vazir Code Hack';
    src: local('Vazir Code Hack'), url('../fonts/Vazir-Code-Hack.ttf'); 
    font-weight: normal; 
}

@font-face{
    font-family: 'Vazir Code Hack';
    src: url('../fonts/Vazir-Code-Hack-Extra-Height.ttf');
}